@model IEnumerable<MohatechDomain.Comment>

@foreach (var item in Model.Where(c => c.ParentId == null))
{
    <li class="list-unstyled mb-4 ml-3">
        <a onclick="ReplyComment(@item.CommentId)" class="btn btn-info btn-sm">پاسخ</a>
        <img src="/Content/Image/avatar.jpg" width="55">
        <div>
            <h6>ارسال شده از : @item.Name در تاریخ : @item.CreateDate.ToString("yyyy/MM/dd") </h6>
            <p>
                @item.Title
            </p>
        </div>
        <div class="clearfix"></div>
        @if (Model.Any(c => c.ParentId == item.CommentId))
        {
            <ul>
                @foreach (var sub in Model.Where(c => c.ParentId == item.CommentId))
                {
                    <li class="list-unstyled">
                        <img src="/Content/Image/avatar.jpg" width="45">
                        <div>
                            <h6>ارسال شده از : @sub.Name در تاریخ : @sub.CreateDate.ToString("yyyy/MM/dd") </h6>
                            <p>
                                @sub.Title
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                }
            </ul>
        }
    </li>
}
