@model IEnumerable<MohatechDomain.News>

@{
    ViewBag.Title = "لیست اخبار";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h4>لیست اخبار</h4>
<hr />
<p>
    @Html.ActionLink("افزودن خبر", "Create", null, new { @class = "create-btn" })
</p>
<table class="table mt-4">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visit)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="/Content/Image/News/Thumbnail/@item.ImageName" class="img-thumbnail" alt="@item.Title"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit)
            </td>
            <td>
                <a href="/Admin/News/Edit/@item.NewsId"><i class="far fa-edit"></i></a> |
                <a href="/Admin/News/Delete/@item.NewsId"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
    }

</table>
