@using MohatechDomain

@model MohatechDomain.Book
@{
    ViewBag.Title = "کتاب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Project Details -->
<section id="project-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 p-4">
                <div class="project-left">
                    <div class="project-text">
                        <h2>@Model.Title</h2>
                        <hr>
                        <h5>@Model.Description</h5>
                        <div>@Model.Text</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-4">
                <div class="project-right">
                    <a href="#">
                        <img class="main-img" src="~/Content/Image/Book/@Model.ImageName" alt="@Model.Title" />
                    </a>
                    @*<div class="row">
                            @foreach (var gallery in Model.Galleries.Where(g => g.ProductId == Model.ProductId))
                            {
                                <div class="col-sm-4 col-4 gallery-img">
                                    <a href="#">
                                        <img src="~/Content/Image/Product/Thumbnail/@gallery.ImageName" alt="@gallery.Title">
                                    </a>
                                </div>
                            }
                        </div>*@
                </div>
            </div>
        </div>
        <div class="other-project">
            <h3>کتاب های مشابه</h3>
            <hr>
            <div class="row">
                @{
                    IEnumerable<Book> others = ViewBag.OtherBook;
                    foreach (var other in others)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="other-project-item">
                                <a href="/Home/BookDetails/@other.BookId">
                                    <img src="~/Content/Image/Book/@other.ImageName" alt="@other.Title">
                                    <h5>@other.Title </h5>
                                    <p>@other.Description</p>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
